
.gradle/4.10.3/fileHashes/fileHashes.bin

.gradle/4.10.3/fileHashes/fileHashes.lock

.gradle/5.4.1/executionHistory/executionHistory.bin

.gradle/5.4.1/executionHistory/executionHistory.lock

.gradle/5.4.1/fileContent/fileContent.lock

.gradle/5.4.1/fileHashes/fileHashes.bin
